## Berlin rent prediction

In [3]:
## 1. Daten laden und Überblick

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Laden des Datensatzes
# Stellen Sie sicher, dass 'immo_data.csv' im Ordner 'data/' liegt
try:
    df = pd.read_csv('data/immo_data.csv')
    print("Datensatz erfolgreich geladen.")
except FileNotFoundError:
    print("Fehler: 'immo_data.csv' nicht gefunden. Stellen Sie sicher, dass die Datei im Ordner 'data/' liegt.")
    # Optional: Pfad anpassen oder Anweisungen zum Herunterladen geben

# Erster Überblick über die Daten
print("\n--- Daten-Info ---")
df.info()

print("\n--- Erste 5 Zeilen ---")
print(df.head())

print("\n--- Statistische Zusammenfassung ---")
print(df.describe())

## 2. Daten filtern: Nur Berlin

# Die Spalte 'regio2' oder 'regio3' könnte Berlin enthalten.
# Je nach Datensatz kann der Name der Spalte variieren.
# Es ist wichtig, die genaue Spalte zu identifizieren, die Städte/Regionen angibt.
# Oft ist 'regio2' für Bundesländer und 'regio3' für Städte/Landkreise.

# Beispiel basierend auf typischen Kaggle-Immobiliendaten:
# Angenommen, 'regio3' enthält Städtenamen und 'regio2' enthält Bundesländer
# Sie müssen dies anhand der tatsächlichen Spaltennamen in Ihrer 'immo_data.csv' überprüfen!

berlin_df = df[
    (df['regio2'] == 'Berlin') | # Manchmal ist Berlin direkt in regio2
    (df['regio3'] == 'Berlin')   # Manchmal ist Berlin in regio3
    ]

# Überprüfung, ob Daten für Berlin gefunden wurden
if berlin_df.empty:
    print("\nWarnung: Keine Daten für Berlin gefunden. Überprüfen Sie die Spaltennamen für die Region (z.B. 'regio2', 'regio3', 'city', 'state') und die Schreibweise von 'Berlin'.")
    # Versuchen Sie alternativ, die einzigartigen Werte der Regionalspalten anzuzeigen:
    # print(df['regio2'].unique())
    # print(df['regio3'].unique())
else:
    print(f"\n--- Daten für Berlin gefiltert ({len(berlin_df)} Einträge) ---")
    print(berlin_df.head())

## 3. Explorative Datenanalyse (EDA) - Berlin-spezifisch

# Hier würden Sie eine detailliertere Analyse der Berliner Daten durchführen.
# Beispiel: Verteilung der Mietpreise
plt.figure(figsize=(10, 6))
sns.histplot(berlin_df['price'], bins=50, kde=True)
plt.title('Verteilung der Kaltmieten in Berlin')
plt.xlabel('Kaltmiete (€)')
plt.ylabel('Anzahl der Angebote')
plt.show()

# Beispiel: Mietpreis pro Quadratmeter vs. Wohnfläche
plt.figure(figsize=(12, 7))
sns.scatterplot(x='livingSpace', y='price', data=berlin_df, alpha=0.6)
plt.title('Mietpreis vs. Wohnfläche in Berlin')
plt.xlabel('Wohnfläche (m²)')
plt.ylabel('Kaltmiete (€)')
plt.show()

# Umgang mit fehlenden Werten (Beispiel)
print("\n--- Fehlende Werte (Top 10) ---")
print(berlin_df.isnull().sum().sort_values(ascending=False).head(10))

## 4. Feature Engineering & Preprocessing (Vorbereitung für das Modell)

# Beispiel: Einfache Feature-Auswahl und Behandlung fehlender Werte
# Dies ist stark vereinfacht und muss an Ihren Datensatz angepasst werden!

# Auswahl relevanter Spalten (Beispielhafte Auswahl)
features = ['livingSpace', 'noRooms', 'yearConstructed', 'balcony', 'hasKitchen', 'garden', 'totalRent']
target = 'price' # Angenommen 'price' ist Ihre Kaltmiete

# Filtern der Berliner Daten auf relevante Features und den Target
berlin_model_df = berlin_df[features + [target]].copy()

# Umgang mit fehlenden Werten (Beispiel: Einfacher Imputations-Ansatz)
# Ersetzen Sie fehlende numerische Werte durch den Median
for col in ['livingSpace', 'noRooms', 'yearConstructed', 'totalRent']:
    if col in berlin_model_df.columns:
        berlin_model_df[col].fillna(berlin_model_df[col].median(), inplace=True)

# Ersetzen Sie fehlende Boolesche Werte (falls vorhanden) mit False oder 0
for col in ['balcony', 'hasKitchen', 'garden']:
    if col in berlin_model_df.columns:
        berlin_model_df[col].fillna(False, inplace=True) # Oder 0, je nach Datentyp

# Umwandlung von booleschen Werten in 0/1 (falls nicht schon geschehen)
for col in ['balcony', 'hasKitchen', 'garden']:
    if col in berlin_model_df.columns and berlin_model_df[col].dtype == 'bool':
        berlin_model_df[col] = berlin_model_df[col].astype(int)

# Entfernen von Zeilen mit NaN im Target (oder wenn nach Imputation noch NaN vorhanden sind)
berlin_model_df.dropna(subset=[target], inplace=True)

print(f"\n--- Daten nach Preprocessing ({len(berlin_model_df)} Einträge) ---")
print(berlin_model_df.info())

## 5. Modelltraining und Evaluierung (Skizze)

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Aufteilen in Features (X) und Target (y)
X = berlin_model_df[features] # Target-Spalte sollte hier nicht enthalten sein
y = berlin_model_df[target]

# Sicherstellen, dass 'totalRent' nicht als Feature verwendet wird, wenn 'price' das Target ist
if 'totalRent' in X.columns and target == 'price':
    X = X.drop('totalRent', axis=1) # Beispielhafte Korrektur falls 'totalRent' ein Feature und 'price' Target ist

# Trainings- und Testdaten aufteilen
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"\nShape of X_train: {X_train.shape}")
print(f"Shape of X_test: {X_test.shape}")
print(f"Shape of y_train: {y_train.shape}")
print(f"Shape of y_test: {y_test.shape}")

# Modell initialisieren und trainieren (Beispiel: Lineare Regression)
model = LinearRegression()
model.fit(X_train, y_train)

# Vorhersagen treffen
y_pred = model.predict(X_test)

# Modell evaluieren
mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print("\n--- Modell-Evaluierung (Lineare Regression) ---")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R²): {r2:.2f}")

# Visualisierung der Vorhersagen vs. tatsächliche Werte
plt.figure(figsize=(10, 7))
plt.scatter(y_test, y_pred, alpha=0.3)
plt.plot([y_test.min(), y_test.max()], [y_test.min(), y_test.max()], 'r--', lw=2) # Idealvorhersage-Linie
plt.title('Tatsächliche vs. Vorhergesagte Kaltmieten')
plt.xlabel('Tatsächliche Kaltmiete (€)')
plt.ylabel('Vorhergesagte Kaltmiete (€)')
plt.grid(True)
plt.show()

# Nächste Schritte:
# - Erweiterte Feature Engineering Techniken (z.B. PLZ in Kategorien umwandeln, Interaktionen)
# - Behandlung von Ausreißern
# - Einsatz komplexerer Modelle (Random Forest, Gradient Boosting, Neuronale Netze)
# - Hyperparameter-Optimierung
# - Kreuzvalidierung
# - Detailliertere Fehleranalyse

Datensatz erfolgreich geladen.

--- Daten-Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

--- Erste 5 Zeilen ---
                regio1  serviceCharge                     heatingType  \
0  Nordrhein_Westfalen         245.00                 central_heating
1      Rheinland_Pfalz         134.00  self_contained_central_heating
2              Sachsen         255.00                   floor_heating
3              Sachsen          58.15                district_heating
4               Bremen         138.00  self_contained_central_heating

  telekomTvOffer  telekomHybridUploadSpeed  newlyConst  balcony  picturecount  \
0  ONE_YEAR_FREE                       NaN       False    False             6
1  ONE_YEAR_FREE                       NaN       False     True             8
2  ONE_YEAR_FREE                      10.0        True     True             8
3  ONE_YEAR_FREE                       NaN       False     True             9
4            NaN                       NaN       False     True            19

   pricetrend  telekomUploadSpeed  ...               regio2  \
0        4.62                10.0  ...             Dortmund
1        3.47                10.0  ...    Rhein_Pfalz_Kreis
2        2.72                 2.4  ...              Dresden
3        1.53                40.0  ...  Mittelsachsen_Kreis
4        2.46                 NaN  ...               Bremen

                       regio3  \
0                     Schüren
1              Böhl_Iggelheim
2  Äußere_Neustadt_Antonstadt
3                    Freiberg
4           Neu_Schwachhausen

                                         description  \
0  Die ebenerdig zu erreichende Erdgeschosswohnun...
1  Alles neu macht der Mai – so kann es auch für ...
2  Der Neubau entsteht im Herzen der Dresdner Neu...
3  Abseits von Lärm und Abgasen in Ihre neue Wohn...
4  Es handelt sich hier um ein saniertes Mehrfami...

                                          facilities heatingCosts  \
0  Die Wohnung ist mit Laminat ausgelegt. Das Bad...          NaN
1                                                NaN          NaN
2  * 9 m² Balkon\n* Bad mit bodengleicher Dusche,...          NaN
3                                                NaN        87.23
4  Diese Wohnung wurde neu saniert und ist wie fo...          NaN

   energyEfficiencyClass lastRefurbish  electricityBasePrice  \
0                    NaN           NaN                   NaN
1                    NaN        2019.0                   NaN
2                    NaN           NaN                   NaN
3                    NaN           NaN                   NaN
4                    NaN           NaN                   NaN

   electricityKwhPrice   date
0                  NaN  May19
1                  NaN  May19
2                  NaN  Oct19
3                  NaN  May19
4                  NaN  Feb20

[5 rows x 49 columns]

--- Statistische Zusammenfassung ---
       serviceCharge  telekomHybridUploadSpeed   picturecount     pricetrend  \
count  261941.000000                   45020.0  268850.000000  267018.000000
mean      151.206113                      10.0       9.791958       3.389001
std       308.295790                       0.0       6.408399       1.964874
min         0.000000                      10.0       0.000000     -12.330000
25%        95.000000                      10.0       6.000000       2.000000
50%       135.000000                      10.0       9.000000       3.390000
75%       190.000000                      10.0      13.000000       4.570000
max    146118.000000                      10.0     121.000000      14.920000

       telekomUploadSpeed     totalRent  yearConstructed       scoutId  \
count       235492.000000  2.283330e+05    211805.000000  2.688500e+05
mean            28.804928  9.013315e+02      1966.400590  1.069697e+08
std             16.337151  3.323833e+04        46.992207  1.250093e+07
min              1.000000  0.000000e+00      1000.000000  2.887174e+07
25%             10.000000  4.698000e+02      1950.000000  1.066910e+08
50%             40.000000  6.500000e+02      1973.000000  1.111584e+08
75%             40.000000  9.850000e+02      1996.000000  1.137688e+08
max            100.000000  1.575154e+07      2090.000000  1.157117e+08

       noParkSpaces  yearConstructedRange  ...        noRooms    thermalChar  \
count  93052.000000         211805.000000  ...  268850.000000  162344.000000
mean       1.327634              3.714544  ...       2.641261     114.749533
std        8.361403              2.738134  ...       2.633440      61.653663
min        0.000000              1.000000  ...       1.000000       0.100000
25%        1.000000              1.000000  ...       2.000000      79.000000
50%        1.000000              3.000000  ...       3.000000     107.000000
75%        1.000000              5.000000  ...       3.000000     140.300000
max     2241.000000              9.000000  ...     999.990000    1996.000000

               floor  numberOfFloors   noRoomsRange  livingSpaceRange  \
count  217541.000000   171118.000000  268850.000000     268850.000000
mean        2.122405        3.572319       2.571542          3.070790
std         3.634934        6.375496       0.937594          1.407127
min        -1.000000        0.000000       1.000000          1.000000
25%         1.000000        2.000000       2.000000          2.000000
50%         2.000000        3.000000       3.000000          3.000000
75%         3.000000        4.000000       3.000000          4.000000
max       999.000000      999.000000       5.000000          7.000000

       heatingCosts  lastRefurbish  electricityBasePrice  electricityKwhPrice
count  85518.000000   80711.000000          46846.000000         46846.000000
mean      76.990866    2013.904536             89.113612             0.199769
std      147.716278      10.963125              5.395805             0.009667
min        0.000000    1015.000000             71.430000             0.170500
25%       54.000000    2012.000000             90.760000             0.191500
50%       70.000000    2017.000000             90.760000             0.198500
75%       90.000000    2019.000000             90.760000             0.205500
max    12613.000000    2919.000000             90.760000             0.227600

[8 rows x 24 columns]

--- Daten für Berlin gefiltert (10406 Einträge) ---
    regio1  serviceCharge       heatingType telekomTvOffer  \
45  Berlin         320.00   central_heating            NaN
61  Berlin          79.00   central_heating  ONE_YEAR_FREE
77  Berlin         150.00     floor_heating  ONE_YEAR_FREE
86  Berlin         228.78     floor_heating            NaN
87  Berlin         147.08  district_heating  ONE_YEAR_FREE

    telekomHybridUploadSpeed  newlyConst  balcony  picturecount  pricetrend  \
45                       NaN       False     True            10        4.99
61                       NaN       False    False            17        7.35
77                       NaN        True     True            15        6.60
86                       NaN       False     True             2        8.63
87                       NaN        True     True             9        7.56

    telekomUploadSpeed  ...  regio2                 regio3  \
45                 NaN  ...  Berlin        Staaken_Spandau
61                40.0  ...  Berlin    Weißensee_Weißensee
77                40.0  ...  Berlin            Mitte_Mitte
86                 NaN  ...  Berlin    Kreuzberg_Kreuzberg
87                40.0  ...  Berlin  Tiergarten_Tiergarten

                                          description  \
45  Diese attraktive EG-Wohnung kann ab sofort bez...
61  Suchen Sie eine 2-Zimmerwohnung in Weißensee? ...
77  Dieses luxuriöse Neubauquartier direkt am Luis...
86  Bei dieser ansprechenden Immobilie handelt es ...
87  In the ""Wasserstadt - Mitte"" you can expect ...

                                           facilities heatingCosts  \
45                                                NaN          NaN
61  Zusammengefasst bietet die Wohnung:\n+ Vollstä...        68.00
77  • sehr ruhig gelegen, trotz zentraler Lage, da...          NaN
86                             Balkon und 10m Terasse          NaN
87  Your spacious ground floor apartment is equipp...        73.54

    energyEfficiencyClass lastRefurbish  electricityBasePrice  \
45                    NaN           NaN                   NaN
61                    NaN           NaN                   NaN
77                    NaN           NaN                   NaN
86                    NaN           NaN                   NaN
87                      B        2019.0                   NaN

    electricityKwhPrice   date
45                  NaN  Feb20
61                  NaN  Oct19
77                  NaN  Oct19
86                  NaN  Oct19
87                  NaN  Feb20

[5 rows x 49 columns]

KeyError: 'price'

In [4]:
## 1. Daten laden und Überblick

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Laden des Datensatzes
# Stellen Sie sicher, dass 'immo_data.csv' im Ordner 'data/' liegt
try:
    df = pd.read_csv('data/immo_data.csv')
    print("Datensatz erfolgreich geladen.")
except FileNotFoundError:
    print("Fehler: 'immo_data.csv' nicht gefunden. Stellen Sie sicher, dass die Datei im Ordner 'data/' liegt.")
    # Optional: Pfad anpassen oder Anweisungen zum Herunterladen geben

# Erster Überblick über die Daten
print("\n--- Daten-Info ---")
df.info()

print("\n--- Erste 5 Zeilen ---")
print(df.head())

print("\n--- Statistische Zusammenfassung ---")
print(df.describe())

## 2. Daten filtern: Nur Berlin

# Die Spalte 'regio2' oder 'regio3' könnte Berlin enthalten.
# Je nach Datensatz kann der Name der Spalte variieren.
# Es ist wichtig, die genaue Spalte zu identifizieren, die Städte/Regionen angibt.
# Oft ist 'regio2' für Bundesländer und 'regio3' für Städte/Landkreise.

# Beispiel basierend auf typischen Kaggle-Immobiliendaten:
# Angenommen, 'regio3' enthält Städtenamen und 'regio2' enthält Bundesländer
# Sie müssen dies anhand der tatsächlichen Spaltennamen in Ihrer 'immo_data.csv' überprüfen!

berlin_df = df[
    (df['regio2'] == 'Berlin') | # Manchmal ist Berlin direkt in regio2
    (df['regio3'] == 'Berlin')   # Manchmal ist Berlin in regio3
    ]

# Überprüfung, ob Daten für Berlin gefunden wurden
if berlin_df.empty:
    print("\nWarnung: Keine Daten für Berlin gefunden. Überprüfen Sie die Spaltennamen für die Region (z.B. 'regio2', 'regio3', 'city', 'state') und die Schreibweise von 'Berlin'.")
    # Versuchen Sie alternativ, die einzigartigen Werte der Regionalspalten anzuzeigen:
    # print(df['regio2'].unique())
    # print(df['regio3'].unique())
else:
    print(f"\n--- Daten für Berlin gefiltert ({len(berlin_df)} Einträge) ---")
    print(berlin_df.head())

Datensatz erfolgreich geladen.

--- Daten-Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

--- Erste 5 Zeilen ---
                regio1  serviceCharge                     heatingType  \
0  Nordrhein_Westfalen         245.00                 central_heating
1      Rheinland_Pfalz         134.00  self_contained_central_heating
2              Sachsen         255.00                   floor_heating
3              Sachsen          58.15                district_heating
4               Bremen         138.00  self_contained_central_heating

  telekomTvOffer  telekomHybridUploadSpeed  newlyConst  balcony  picturecount  \
0  ONE_YEAR_FREE                       NaN       False    False             6
1  ONE_YEAR_FREE                       NaN       False     True             8
2  ONE_YEAR_FREE                      10.0        True     True             8
3  ONE_YEAR_FREE                       NaN       False     True             9
4            NaN                       NaN       False     True            19

   pricetrend  telekomUploadSpeed  ...               regio2  \
0        4.62                10.0  ...             Dortmund
1        3.47                10.0  ...    Rhein_Pfalz_Kreis
2        2.72                 2.4  ...              Dresden
3        1.53                40.0  ...  Mittelsachsen_Kreis
4        2.46                 NaN  ...               Bremen

                       regio3  \
0                     Schüren
1              Böhl_Iggelheim
2  Äußere_Neustadt_Antonstadt
3                    Freiberg
4           Neu_Schwachhausen

                                         description  \
0  Die ebenerdig zu erreichende Erdgeschosswohnun...
1  Alles neu macht der Mai – so kann es auch für ...
2  Der Neubau entsteht im Herzen der Dresdner Neu...
3  Abseits von Lärm und Abgasen in Ihre neue Wohn...
4  Es handelt sich hier um ein saniertes Mehrfami...

                                          facilities heatingCosts  \
0  Die Wohnung ist mit Laminat ausgelegt. Das Bad...          NaN
1                                                NaN          NaN
2  * 9 m² Balkon\n* Bad mit bodengleicher Dusche,...          NaN
3                                                NaN        87.23
4  Diese Wohnung wurde neu saniert und ist wie fo...          NaN

   energyEfficiencyClass lastRefurbish  electricityBasePrice  \
0                    NaN           NaN                   NaN
1                    NaN        2019.0                   NaN
2                    NaN           NaN                   NaN
3                    NaN           NaN                   NaN
4                    NaN           NaN                   NaN

   electricityKwhPrice   date
0                  NaN  May19
1                  NaN  May19
2                  NaN  Oct19
3                  NaN  May19
4                  NaN  Feb20

[5 rows x 49 columns]

--- Statistische Zusammenfassung ---
       serviceCharge  telekomHybridUploadSpeed   picturecount     pricetrend  \
count  261941.000000                   45020.0  268850.000000  267018.000000
mean      151.206113                      10.0       9.791958       3.389001
std       308.295790                       0.0       6.408399       1.964874
min         0.000000                      10.0       0.000000     -12.330000
25%        95.000000                      10.0       6.000000       2.000000
50%       135.000000                      10.0       9.000000       3.390000
75%       190.000000                      10.0      13.000000       4.570000
max    146118.000000                      10.0     121.000000      14.920000

       telekomUploadSpeed     totalRent  yearConstructed       scoutId  \
count       235492.000000  2.283330e+05    211805.000000  2.688500e+05
mean            28.804928  9.013315e+02      1966.400590  1.069697e+08
std             16.337151  3.323833e+04        46.992207  1.250093e+07
min              1.000000  0.000000e+00      1000.000000  2.887174e+07
25%             10.000000  4.698000e+02      1950.000000  1.066910e+08
50%             40.000000  6.500000e+02      1973.000000  1.111584e+08
75%             40.000000  9.850000e+02      1996.000000  1.137688e+08
max            100.000000  1.575154e+07      2090.000000  1.157117e+08

       noParkSpaces  yearConstructedRange  ...        noRooms    thermalChar  \
count  93052.000000         211805.000000  ...  268850.000000  162344.000000
mean       1.327634              3.714544  ...       2.641261     114.749533
std        8.361403              2.738134  ...       2.633440      61.653663
min        0.000000              1.000000  ...       1.000000       0.100000
25%        1.000000              1.000000  ...       2.000000      79.000000
50%        1.000000              3.000000  ...       3.000000     107.000000
75%        1.000000              5.000000  ...       3.000000     140.300000
max     2241.000000              9.000000  ...     999.990000    1996.000000

               floor  numberOfFloors   noRoomsRange  livingSpaceRange  \
count  217541.000000   171118.000000  268850.000000     268850.000000
mean        2.122405        3.572319       2.571542          3.070790
std         3.634934        6.375496       0.937594          1.407127
min        -1.000000        0.000000       1.000000          1.000000
25%         1.000000        2.000000       2.000000          2.000000
50%         2.000000        3.000000       3.000000          3.000000
75%         3.000000        4.000000       3.000000          4.000000
max       999.000000      999.000000       5.000000          7.000000

       heatingCosts  lastRefurbish  electricityBasePrice  electricityKwhPrice
count  85518.000000   80711.000000          46846.000000         46846.000000
mean      76.990866    2013.904536             89.113612             0.199769
std      147.716278      10.963125              5.395805             0.009667
min        0.000000    1015.000000             71.430000             0.170500
25%       54.000000    2012.000000             90.760000             0.191500
50%       70.000000    2017.000000             90.760000             0.198500
75%       90.000000    2019.000000             90.760000             0.205500
max    12613.000000    2919.000000             90.760000             0.227600

[8 rows x 24 columns]

--- Daten für Berlin gefiltert (10406 Einträge) ---
    regio1  serviceCharge       heatingType telekomTvOffer  \
45  Berlin         320.00   central_heating            NaN
61  Berlin          79.00   central_heating  ONE_YEAR_FREE
77  Berlin         150.00     floor_heating  ONE_YEAR_FREE
86  Berlin         228.78     floor_heating            NaN
87  Berlin         147.08  district_heating  ONE_YEAR_FREE

    telekomHybridUploadSpeed  newlyConst  balcony  picturecount  pricetrend  \
45                       NaN       False     True            10        4.99
61                       NaN       False    False            17        7.35
77                       NaN        True     True            15        6.60
86                       NaN       False     True             2        8.63
87                       NaN        True     True             9        7.56

    telekomUploadSpeed  ...  regio2                 regio3  \
45                 NaN  ...  Berlin        Staaken_Spandau
61                40.0  ...  Berlin    Weißensee_Weißensee
77                40.0  ...  Berlin            Mitte_Mitte
86                 NaN  ...  Berlin    Kreuzberg_Kreuzberg
87                40.0  ...  Berlin  Tiergarten_Tiergarten

                                          description  \
45  Diese attraktive EG-Wohnung kann ab sofort bez...
61  Suchen Sie eine 2-Zimmerwohnung in Weißensee? ...
77  Dieses luxuriöse Neubauquartier direkt am Luis...
86  Bei dieser ansprechenden Immobilie handelt es ...
87  In the ""Wasserstadt - Mitte"" you can expect ...

                                           facilities heatingCosts  \
45                                                NaN          NaN
61  Zusammengefasst bietet die Wohnung:\n+ Vollstä...        68.00
77  • sehr ruhig gelegen, trotz zentraler Lage, da...          NaN
86                             Balkon und 10m Terasse          NaN
87  Your spacious ground floor apartment is equipp...        73.54

    energyEfficiencyClass lastRefurbish  electricityBasePrice  \
45                    NaN           NaN                   NaN
61                    NaN           NaN                   NaN
77                    NaN           NaN                   NaN
86                    NaN           NaN                   NaN
87                      B        2019.0                   NaN

    electricityKwhPrice   date
45                  NaN  Feb20
61                  NaN  Oct19
77                  NaN  Oct19
86                  NaN  Oct19
87                  NaN  Feb20

[5 rows x 49 columns]